* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html,
body {
    height: 100%;
    font-family: "Karla", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212844;
    color: #f0e8d5;
}

.container {
    width: 500px;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 1em;
}

h1 span {
    color: #e67e22;
}


button {
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid #f0e8d5;
    color: #f0e8d5;
    font-weight: 800;
    transition: all 0.3s ease;
    cursor: pointer;
    letter-spacing: 1px;
}

button:hover {
    background-color: #e67e22;
    border: 2px solid #e67e22;
    color: #212844;
}




.requirements-container {
    border-top: 1px solid #f0e8d5;
    padding: 20px 0;
    margin-top: 30px;
}

.selection {
    display: flex;
    padding: 5px 0;
}

.selection p {
    margin-right: 10px;
}


.character-length {
    display: flex;
    align-items: center;
    gap: 5px;
}

.range-slider {
    -webkit-appearance: none;
    width: 200px;
    height: 8px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    outline: none;
    cursor: pointer;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e67e22;
    cursor: pointer;
    transition: all 0.2s ease;
}

.range-slider::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

.range-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e67e22;
    cursor: pointer;
    border: none;
}

#characterValue {
    background: rgba(255, 255, 255, 0.2);
    padding: 6px;
    border-radius: 25px;
    font-weight: 600;
    min-width: 30px;
    text-align: center;
    font-size: 12px;
    margin-left: 10px;
}


.toggle-group {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.toggle-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s ease;
    border-radius: 22px;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: #f0e8d5;
    transition: 0.3s ease;
    border-radius: 50%;
}

input:checked+.toggle-slider {
    background-color: #e67e22;
}

input:checked+.toggle-slider:before {
    transform: translateX(18px);
}


#gen-btn {
    margin: 30px 0;
    padding: 10px 16px;
}



.pw-container {
    border-top: 1px solid #f0e8d5;
    padding-top: 20px;
}

.password {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}

#pw-one,
#pw-two {
    width: 80%;
    border: 2px solid #e67e22;
    border-radius: 6px;
    padding: 10px 16px;
    color: #f0e8d5;
    font-weight: 600;
    min-height: 44px;
    flex-grow: 1;
}

.copy-btn {
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 12px;
}


/* github link */
.github-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 18px;
    height: 18px;
    color: #e67e22;
}

.github-button svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
    transition: color 0.3s ease;
}

.github-button:hover {
    color: #0366d6;
}