* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-family: "Smythe", serif
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: white;
    min-height: 100vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
    background-image: url(assets/header.png);
    background-size: cover;
    height: 167px;
    background-position: center;
    display: flex;
}

.header-content {
    color: white;
    padding: 46px;
}

h1 {
    font-size: 39px;
    margin: 0;
}

h2 {
    font-size: 22px;
    margin: 0;
}

.main-content {
    margin: 0 50px;
}

/* menu content */

.menu-item {
    display: flex;
    align-items: center;
    padding: 50px 0;
    border-bottom: 1px solid #D2D2D2;
    gap: 30px;
}

.emoji {
    font-size: 78px;
}

.item-details {
    flex-grow: 1;
}

.item-name {
    font-size: 28px;
    margin-bottom: 5px;
}

.item-ingredients {
    font-size: 16px;
    color: #8B8B8B;
    margin-bottom: 8px;
}

.item-price {
    font-size: 20px;
}

.add-btn {
    background-color: #fff;
    color: #3C3C3C;
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    cursor: pointer;
    font-size: 32px;
    height: 50px;
    width: 50px;
    transition: all 0.2s ease;
}



.add-btn:hover {
    background-color: #DEDEDE;
    color: #fff;
}


/* order content */

.order-section {
    padding: 50px 0;
}

.order-section h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 50px;
    padding: 0;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.order-name {
    font-size: 28px;
}

.order-price {
    font-size: 20px;
}

.quantity {
    font-size: 20px;
    margin: 0 10px;
    color: #3C3C3C;
}

.order-total {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #393333;
    margin-top: 10px;
    padding-top: 18px;
    font-size: 28px;
}

.cost-total {
    font-size: 20px;
}

.purchase-btn {
    background-color: #16DB99;
    color: #fff;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transition: all 0.2s ease;
    width: 100%;
    margin-top: 50px;
    padding: 20px 0;
}

.purchase-btn:hover {
    background-color: #DEDEDE;
    color: #fff;
}


.remove-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #BBBBBB;
    cursor: pointer;
    font-size: 12px;

}



/* payment modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 540px;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 12px #909090;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal h2 {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    margin-bottom: 20px;
}

.modal-inner {
    margin: 20px;
}


/* modal input */

input {
    margin-top: 25px;
    border: 1.3px solid #757575;
    padding: 25px;
    width: 100%;
    border-radius: 4px;
    font-size: 20px;
}



.thank-you {
    display: block;
    background-color: #ECFDF5;
    color: #065F46;
    font-size: 32px;
    padding: 50px;
    text-align: center;
}



/* github link */
.github-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 18px;
    height: 18px;
    color: #111;
}

.github-button svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
    transition: color 0.3s ease;
}

.github-button:hover {
    color: #0366d6;
}