@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --bg-primary: #FFFFFF;
    --bg-secondary: #FAFAFA;
    --text-primary: #262626;
    --text-secondary: #8E8E8E;
    --border: #DBDBDB;
    --red: #E1306C;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    min-height: 100vh;
    font-size: 16px;
}

.avatar-img {
    width: 36px;
    aspect-ratio: 1;
    border-radius: 50%;
}

header {
    background-color: var(--bg-primary);
    border-bottom: 1px solid var(--border);
    padding: 12px 0;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.app-header {
    margin: auto;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.app-header a {
    display: inline-block;
    line-height: 0;
}

.app-logo {
    width: 127px;
}


main {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
}

.post {
    background-color: var(--bg-primary);
    border: 1px solid var(--border);
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
}

.post-header {
    padding: 14px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
}


.post-header-content {
    display: flex;
    flex-direction: column;
}

.location {
    font-size: 0.75rem;
    color: var(--text-secondary);
    font-weight: 400;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.username {
    font-weight: 600;
    font-size: 0.875rem;
}

.post-image {
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--bg-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.post-actions {
    padding: 14px 16px;
    display: flex;
    gap: 16px;
}

.action-btn {
    background: none;
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    transition: color 300ms;
}

.action-btn:active {
    color: var(--red);
    background: none;
}

.action-btn:hover {
    color: var(--red);
}

.bookmark-btn {
    margin-left: auto
}


.action-btn svg {
    width: 24px;
    aspect-ratio: 1;
    stroke-width: 2;
}

.post-likes {
    padding: 0 16px 8px;
    font-weight: 600;
    font-size: 0.875rem;
}

.post-caption {
    padding: 0 16px 12px;
    font-size: 0.875rem;
}

.post-caption .username {
    margin-right: 6px;
}

.post-time {
    padding: 0 16px 16px;
    font-size: 0.75rem;
    color: var(--text-secondary);
}




footer {
    background-color: var(--bg-primary);
    border-top: 1px solid var(--border);
    padding: 12px 0;
    position: sticky;
    bottom: 0;
    z-index: 100;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.app-footer {
    margin: auto;
    max-width: 600px;
    width: 100%;
}

.footer-actions {
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
}



/* github link */
.github-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 18px;
    height: 18px;
    color: #111;
}

.github-button svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
    transition: color 0.3s ease;
}

.github-button:hover {
    color: #0366d6;
}